.container{
  align-content: center;
}
#buscador{

  width: 100%;

}
#formulario1{

  height: 550px;

}
.mb-3{
  padding: 2rem;
  color:#9B1C15;
}

.row{
  border-radius: 4px;
  border-color: #9B1C15;
  border-style: solid;
  background-color: rgb(237, 238, 238);
  border-width: thin;
}
